/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {
	background: #FF9C56;
}
.header:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.logo {
	float:left;
}

.navigation {
	float:right;
}

.sidebar {
	background: #FFBE56;
	float: left;
}

.main_content {}
/* hint! you have to contain the floated children elements. */

.sub_content {
	background: #355163;
}
.sub_content_2 {
	background: #49708A;
}

.footer {
	clear: both;
}
